<div *ngIf="food">
    <div>
        <input type="text" id="name" name="name" (keyup.Enter)="onEnter()">
        <span>{{food.name}}</span>
    </div>
    <div>
        <span>{{food.price}}</span>
    </div>
    <ul>
        <li *ngFor="let ingredient of food.ingredients">
            <div>
                <span>{{ingredient}}</span>
            </div>
        </li>
    </ul>
    <div>
        <button (click)="removeFood()">Remove</button>

        <button (click)="close()">Close</button>
    </div>

</div>

