<div>
    <div *ngIf="foods">
        <ul class="food">
            <li *ngFor="let food of foods">
                <button type="button"
                (click)="onSelect(food)">
                    <app-food-details [food]="food"></app-food-details>
                </button>
            </li>
        </ul>
    </div>
    <button (click)="addFood()">Add Food</button>
    <div>
        <app-food-add *ngIf="editingFood" [food]="selectedFood" (onSave)="handleOnSave($event)"></app-food-add>
    </div>
</div>
